table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}


th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td img {
    width: 100px;
    object-fit: cover;
}

.lounge-info {
    color: #0c000c;
    font-size: 12px;
}

.pagination {
    margin: 20px 0;
}

.step-links {
    display: flex;
    justify-content: space-between;
}

.current {
    font-weight: bold;
}

.pagination {
    justify-content: center;
    margin-top: 25px;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
}

.pagination a:hover {
    text-decoration: underline;
}

.pagination .current {
    font-weight: bold;
    color: #000;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff00ec;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.btn:hover {
    background-color: #7100b3;
    color: white;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.button-wrapper {
    display: inline-block;
    position: relative;
    margin: 10px;
 }

#googoo {
    margin-bottom: 10px;
    margin-top: 30px;
}

.btn-goo, .btn-nono, .btn-back {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-goo {
    background-color: #5284ff;
}

.btn-nono {
    background-color: #c30f0f;
}

.counter {
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     top: 100%;
     margin-top: 5px;
     font-size: 18px;
     color: black;
}

.btn-back {
    background-color: #ff00ec;
    width: 260px;
    margin: 45px auto 50px auto;
    display: block;
    font-weight: bold;
    text-align: center;
}



/*라운지 디테일*/

#cotitle {
    color: black;
    text-align: left;
    font-weight: bolder;
    margin-top: 55px;
    margin-bottom: 30px;
    font-size: 23px;
}

#coname {
    margin-top: 1px;
    margin-bottom: 15px;
    font-size: 15px;
}

.content-box {
    border: 1px solid #5a5858;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.lounge-container {
    margin-top: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
}

.form-group {
    margin-bottom: 20px;
    display: flex;

}

.form-group label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group textarea {
    width: 70%;
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    padding: 10px 20px;
    background-color: #ff00ec;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}

.form-group button:hover {
    background-color: #7100b3;
    color: white;
}

.lounge-actions {
    display: inline-block;
}

.lounge_edit {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.lounge_del {
    background-color: #ffffff;
    color: darkred;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

/* 댓글 섹션 스타일 */
.comments-section {
    margin-top: 20px;
    padding: 20px;
}

.comments-card {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-textarea {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    resize: vertical;
    font-size: 14px;
    transition: border-color 0.3s ease-in-out;
}

.comment-textarea:focus {
    border-color: #381142;
    outline: none;
}

.submit-button {
    background-color: #ff00ec;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
    background-color: #4a26a3;
}


/* 댓글 구역 */

.comments-container {
    display: flex;
    flex-direction: column;
}

.comment2 {
    margin-bottom: 20px; 
    padding-bottom: 10px;
    border-bottom: 1px solid #bbb8b8;
}

.comment2:last-child {
    border-bottom: none;
}

.comment_go {
    background-color: #ff00b3; 
    color: #ffffff; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    margin-top: 15px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.comment_go:hover {
    background-color: #791db6; 
}

.fw-bold {
    margin-bottom: 15px; 
}

.comment-body2 {
    display: flex;
    align-items: flex-start;
    gap: 15px; 
    margin-bottom: 10px; 
}

.comment-body2 p {
    margin: 0; 
    flex: none; 
}


.comment-author {
    color: #302f31;
    font-weight: bold;
    font-size: 15px;
}

.reply-content-container {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.reply-content {
    margin: 5px 0; 
    margin-left: 10px; 
    word-break: break-word; 
}


.dedet_list {
    margin: 0; 
    padding-left: 10;
    padding: 5; 
    margin-top: 8px;
}


.dedet_body {
    margin-top: 8px;
    margin-left: 15px; 
    padding: 10px; 
    margin-top: 8px;
    border-left: 1px solid #706e6e;
    background-color: #eee9e9;
}

.dedet_body img {
    margin-top: px;
    margin-bottom: 5px; 
    margin-left: 5px; 

}

.dedet_content p {
    margin: 5px 0; 
    margin-left: 15px;
    word-break: break-word;
}


.dedet_go {
    background-color: #ffff; 
    border: none; 
    color: #000000; 
    padding: 5px 9px; 
    font-size: 12px; 
    font-weight: bold; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}


.comment {
    border-bottom: 1px solid #777a7c;
    padding: 10px 0;
}

.comment-author {
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-content {
    margin-left: 20px;
    font-size: 14px;
}

.re-comment,
.comment-delete {
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
}

.re-comment:hover,
.comment-delete:hover {
    text-decoration: underline;
}

.bg-light {
    background-color: #f8f9fa !important;
}



/*이모지 버튼*/
#emoji-container {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
}

.emoji {
    position: absolute;
    font-size: 18px;
    opacity: 1;
    transition: transform 15s ease-out, opacity 8s ease-out;
    will-change: transform, opacity;
    z-index: 1001;
}


/* 댓글 대댓글하트버튼 구역*/ 
:root {
    --c: #ff0000; 
}

.heart-button,
.heart-button2 {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    border: none;  
    background: none; 
}

.heart-button .icon,
.heart-button2 .icon {
    width: 25px;
    height: 25px;
}

.heart-button .heart,
.heart-button2 .heart2 {
    margin-left: 10px; 
}

svg {
    width: 50px; 
    height: 50px; 
    position: relative;
}

#heart-comment {
    fill: #9b999b;
    stroke: var(--c); 
    stroke-width: 30px;
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    stroke-linecap: round;
}

#heart-btn1:checked + svg #heart-comment {
    animation: drawHeart 1s linear forwards;
}

#heart-btn1:checked + svg ~ .heart {
    animation: blink-comment 0.5s ease-in-out forwards;
    animation-delay: 1s; 
}

#heart-btn1:checked + svg {
    animation: beat-comment 1s linear forwards;
}

#heart-reply {
    fill: #9b999b;
    stroke: var(--c); 
    stroke-width: 30px;
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    stroke-linecap: round;
}

#heart-btn2:checked + svg #heart-reply {
    animation: drawHeart2 1s linear forwards;
}

#heart-btn2:checked + svg ~ .heart2 {
    animation: blink-reply 0.5s ease-in-out forwards;
    animation-delay: 1s; 
}

#heart-btn2:checked + svg {
    animation: beat-reply 1s linear forwards;
}



.heart-button span,
.heart-button2 span {
    display: block;
    width: 5px; 
    height: 5px; 
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: calc(63% - 13px); 
    transform: translate(-50%, -50%) scale(0); 
    box-shadow: 0 -26px 0 0 var(--c), 
                0 26px 0 0 var(--c), 
                -26px 0 0 0 var(--c), 
                26px 0 0 0 var(--c), 
                -18px -18px 0 0 var(--c), 
                18px -18px 0 0 var(--c), 
                18px 18px 0 0 var(--c), 
                -18px 18px 0 0 var(--c); 
}

@keyframes drawHeart {
    0% {
        stroke-dashoffset: 3000; 
        fill: transparent; 
    }
    80% {
        fill: transparent; 
        stroke-dashoffset: 0; 
    }
    100% {
        fill: var(--c); 
        stroke-dashoffset: 0; 
    }
}

@keyframes drawHeart2 {
    0% {
        stroke-dashoffset: 3000;
        fill: transparent;
    }
    80% {
        fill: transparent; 
        stroke-dashoffset: 0;
    }
    100% {
        fill: var(--c); 
        stroke-dashoffset: 0;
    }
}

@keyframes blink-comment {
    0% {
        transform: translate(-50%, -50%) scale(0.5); 
        opacity: 0.8; 
    }
    80% {
        transform: translate(-50%, -50%) scale(1); 
        opacity: 1; 
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5); 
        opacity: 0; 
    }
}

@keyframes blink-reply {
    0% {
        transform: translate(-50%, -50%) scale(0.5); 
        opacity: 0.8; 
    }
    80% {
        transform: translate(-50%, -50%) scale(1); 
        opacity: 1; 
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5); 
        opacity: 0; 
    }
}

@keyframes beat-comment {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.5); 
    }
    100% {
        transform: scale(1); 
    }
}

@keyframes beat-reply {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.5); 
    }
    100% {
        transform: scale(1); 
    }
}

