<footer class="py-5 main-footer">
    <div class="call-cs">
        <p class="cscall">Customer Center</p>
        <p class="call-number">전화번호: 010-8665-1031</p>
        <p class="mail">이메일: ziahime0518@gmail.com</p>
        <p class="work-time">업무 시간: 09:00~19:00</p>
        <p class="lunch">점심 시간: 13:00~14:00</p>
    </div>

    <div class="money">
        <p class="bank">Bank Info</p>
        <p class="bank-num">카카오뱅크 1111-22-3333-444</p>
        <p class="my-money">예금주: 우*아</p>
    </div>

    <div class="return">
        <p class="re-re">Return / Exchange</p>
        <p class="ban-pum">반품주소: 서울시 강서구 화곡동</p>
    </div>

    <div class="info">
        <p class="company-info">Company Info</p>
        <p class="ban-pum">본 사이트는 포트폴리오용 홈페이지로<br> 실제 구매가 불가능하며</p>
        <p class="ban-pum2">수익창출을 일절 하지 않음을 알립니다</p><br>
    </div>
</footer>
