
<div id="searchBar">
    <form action="#" method="post">
        <input type="text" id="searchInput" name="pname" placeholder="야옹이가 세계를 구한다!">
        <button type="submit" id="searchButton">검색! 🔍</button>
    </form>
</div>


<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="/">💜 메인 페이지</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/company/">어바웃-야세지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mysite/">구독상품</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/mysite/recomm/">추천/혜택</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/commu/">라운지</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="/evento/">이벤트</a>
                </li>
               {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:logout' %}">{{ user.username }} (로그아웃)</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
        </li>
    {% endif %}
    </ul>
        </ul>
        </div>
    </div>
</nav>